.Top-Menu {
    display: flex;
    position: sticky;
    top: 56px;
    z-index: 99;
    align-items: center;
    background-color: #212121;
    gap: 10px;
    height: 56px;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;

    width: calc(100vw - 270px);
    overflow-x: auto;
}

.Top-Menu::-webkit-scrollbar{
    display: block;
}

@media (max-width : 1024px) {
    .Top-Menu{
        width: calc(100vw - 80px);
    }
}

@media (max-width : 425px) {
    .Top-Menu{
        width: 100vw;
    }
}

.Top-Menu-All {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 70px;
    height: 32px;
    border-radius: 32px;
    text-align: center;
    text-decoration: none;
    border: 0.3px solid #AAAAAA;
    padding: 8px 12px 8px 12px;
    background-color: #303030;
    font-size: 14px;
    flex-shrink: 0;
}
.Top-Menu-All:focus {
    background-color: #ffffff;
    color: #030303;
}
.Top-Menu-Item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 90px;
    height: 32px;
    border-radius: 32px;
    text-align: center;
    text-decoration: none;
    border: 0.3px solid #AAAAAA;
    padding: 8px 12px 8px 12px;
    background-color: #303030;
    font-size: 14px;
    flex-shrink: 0;
}
.Top-Menu-Item:focus {
    background-color: #ffffff;
    color: #030303;
}