/*======== 전체 구조 스타일 ========*/
html{
    background-color: #181818;
}
body{
    margin: 0px auto;
    background-color: #181818;

    /* 아래와 같이 사용 var(변수명) */
    color: var(--main-text-color);
}

button:hover{
    cursor: pointer;
}

#channelProfile{
    border-radius: 50%;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0px auto;
    gap: 10px;
}

.video-container{
    display: flex;
    flex-direction: column;
    width: 664px;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.recommend-container{
    display: flex;
    flex-direction: column;
}

/*======== 반응형 세팅 ========*/

@media (max-width:1024px){
    .main-container{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .video-list{
        width: 640px;
    }

    
}

@media (max-width:768px){
    .main-container{
        flex-direction: column;
        align-items: center;

        width: 425px;
    }

    .comment-box{
        width: 640px !important;
    }
}

@media (max-width:425px){
    #Video-Container{
        grid-template-columns: repeat(1,1fr);
        min-width: 320px;
    }
    
    .video-container{
        width: 320px;
    }

    .Video-Item{
        flex-direction: column !important;
        align-items: center !important;
    }

    .Video-Description{
        width: 226px !important;
    }

    #video-player{
        width: 320px !important;
    }

    .video-box{
        width: 320px !important;
    }

    .info-container{
        width: 320px !important;
    }

    .comment-box{
        width: 320px !important;
    }

    .desc-box{
        width: 320px !important;
    }

    #commentInput{
        width: 256px !important;
    }

    .comment-container {
        width: 320px !important;
    }

    .comment-block{
        width: 320px !important;
    }

    .comment-list{
        width: 320px !important;
    }
}


/*======== 비디오 공간 ========*/
.video-box{
    width: 640px;
    height: 100%;
}

#video-player{
    width: 100%;
}

.video-info{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 95px;
    padding: 20px 0px 8px 0px;
    box-sizing: border-box;
}

.info-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 640px;
    height: 40px;
}

#video-title{
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
}

#info-text{
    font-size: 14px;
    font-weight: 700;
    color: #aaaaaa;
}

.video-buttonlayer{
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.buttonArea{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.likes-button, .hates-button, .reply-button,
.hates-button, .share-button,
.save-button,.more-button,
.like-button, .hate-button{
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.buttonArea > .likes-button{
    width: 18px;
    height: 17px;
    background-image: url(/Resources/Images/VideoPage/Liked.svg);
}

.buttonArea > .hates-button{
    width: 18px;
    height: 17px;
    background-image: url(/Resources/Images/VideoPage/Hates.svg);
}

.buttonArea > .share-button{
    width: 20px;
    height: 18px;
    background-image: url(/Resources/Images/VideoPage/Share.svg);
}

.buttonArea > .save-button{
    width: 20px;
    height: 10px;
    background-image: url(/Resources/Images/VideoPage/Save.svg);
}

.buttonArea > .more-button{
    width: 15px;
    height: 3px;
    background-image: url(/Resources/Images/VideoPage/More.svg);
}

/*======== 비디오 설명 공간 ========*/
.desc-box{
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 100%;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
}

.desc-titleBox{
    display: flex;
    width: 100%;
    height: 67px;
    
    padding: 18px 0px 0px 0px;
    box-sizing: border-box;
    gap:10px;
}

.descTop{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#subscribtionText{
    color: #aaaaaa;
    font-size: 12px;
}

#subscribeButton{
    display: flex;
    justify-content: center;
    width: 116px;
    height: 36px;
    padding: 10px 16px 10px 16px;
    box-sizing: border-box;
    gap: 10px;
    background-color: #CC0000;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    border: none;
    color: #ffffff;
    border-radius: 2px;
}

.desc-textBox{
    width: 100%;
    height: 100%;
    padding: 12px 0px 0px 64px;
    gap: 10px;

    
}

#descText{
    font-weight: 400;
    font-size: 14px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2;
    line-clamp: 2;
    
}

.descBottom{
    width: 100%;
    height: 22px;
    padding: 0px 0px 0px 64px;
    box-sizing: border-box;
    gap:10px;
}

#descOpenButton{
    height: 14px;
    background-color: #181818;
    color:#aaaaaa;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    border: none;
    margin-bottom: 5px;
}

#channelProfile{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

/*======== 비디오 코멘트 - 코멘트 수,정렬 공간 ========*/
.comment-box{
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 100%;
    padding: 24px 0px 32px 0px;
    gap:24px;
}

.sortArea{
    display: flex;
    width: 300px;
    height: 24px;
    align-items: center;
}

#commentCount{
    width: 142px;
    height: 24px;
    padding: 1px 0px 1px 0px;
    font-size: 16px;
    line-height: 22px;
}

#commentSortButton{
    width: 120px;
    height: 24px;
    display: flex;
    background-color: transparent;
    border: none;
}

#sortIcon{
    width: 32px;
    height: 24px;
    padding-right: 8px;
    box-sizing: border-box;
    gap:10px;
    background-color: transparent;
    background-image: url(/Resources/Images/VideoPage/Dropdown.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#sortText{
    width: 100px;
    height: 24px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

/*======== 비디오 코멘트 작성 공간 ========*/
.comment-addArea{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.userProfile{
    width: 48px;
    height: 48px;
    gap:10px;
    background-image: url(/Resources/Images/VideoPage/User-Avatar.svg);
    border-radius: 40px;
    border-radius: 32px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-image: url(/Resources/Images/VideoPage/user.png);
}

.input-wrapper {
    width: 564px;
    position: relative;
    flex-grow: 1;
}

#commentInput{
    width: 564px;
    background-color: #181818;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #303030;
    outline: none;
    padding-bottom: 10px;
}

#commentInput:focus{
    border-bottom: 1px solid #ffffff;
}

#enterBtn {
    position: relative;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #181818;
    color: white;
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
}

/* 입력창에 포커스되었을 때 Enter 버튼 보이기 */
.input-wrapper:focus-within #enterBtn {
    opacity: 1;
    pointer-events: auto;
}

/*======== 비디오 코멘트 리스트 ========*/
.comment-list{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.commentProfile{
    width: 48px;
    height: 48px;
    border-radius: 40px;
}

/*======== 새로운 코멘트 리스트 ========*/
.commentClass {
    display: flex;
    gap: 20px;
}

.profileImgClass {
    width: 48px;
    height: 48px;
    background-image: url(/Resources/Images/VideoPage/User-Avatar.svg);
    gap:10px;
    border-radius: 32px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.commentBoxClass {
    display: flex;
    flex-direction: column;
    width: 564px;
    height: 100%;
}

.commentInfoClass {
    display: flex;
    gap: 7px;
}

.userIDClass {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
}

.commentTimeClass {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #aaaaaa;
}

.commentTextClass {
    width: 564px;
    padding: 2px 0px 2px 0px;
    gap: 10px;
}

.btnContainerClass {
    display: flex;
    width: 100%;
    height: 38px;
    justify-content: left;
}

.likeContainerClass, .hateContainerClass {
    display: flex;
    align-items: center;
    height: 38px;
}

.likeBtnClass, .hateBtnClass {
    width: 16px;
    height: 16px;
    background-color: #181818;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}
.likeBtnClass {
    background-image: url(/Resources/Images/VideoPage/Liked.svg);
}
.hateBtnClass {
    background-image: url(/Resources/Images/VideoPage/Hates.svg);
}

.likeCountClass, .hateCountClass {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 7px 8px 7px;
}

.replyBtnClass {
    width: 67px;
    padding: 8px 16px 8px 16px;
    margin-left: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #aaaaaa;
    font-size: 12px;
}

.deleteBtnClass {
    padding: 8px 16px 8px 16px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: red;
    text-align: center;
    font-size: 12px;
}

/*======== 기존 코멘트 리스트 ========*/
.comment-container{
    width: 100%;
}

.comment-block{
    display: flex;
    width: 100%;
    height: 100px;
    padding-bottom: 16px;
}

.comment-header{
    display: flex;
    height: 22px;
    padding-bottom: 2px;
    gap:5px;
}

.comment-profile{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.comment-block > a{
    margin-right: 16px;
    gap:10px;
}

.comment-userId{
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
}

.comment-time{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #aaaaaa;
}

.comment-text{
    width: 100%;
    padding: 2px 0px 2px 0px;
    gap: 10px;
}

.comment-toolbar{
    display: flex;
    width: 100%;
    height: 38px;
    padding-top: 4px;
    justify-content: left;
}

.toolbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar-container > .like-button{
    width: 16px;
    height: 16px;
    background-image: url(/Resources/Images/VideoPage/Liked.svg);
}

.toolbar-container > .hate-button{
    width: 16px;
    height: 16px;
    background-image: url(/Resources/Images/VideoPage/Hates.svg);
}

.likeCount, .hateCount{
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 7px 8px 7px;
    gap: 10px;
}

.reply-button{
    width: 67px;
    padding: 8px 16px 8px 16px;
    gap:10px;
    text-align: center;
    background-color: #181818;
    border: none;
    color: #aaaaaa;
    font-size: 12px;
}

/*======== 우측 비디오 리스트 영역 ========*/
.recommend-topMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    width: 100%;
    min-width: 200px;
    height: 51px;
    padding: 1px 12px 2px 0px;
}

.recommend-topMenu_All{
    width: 53px;
    height: 32px;
    border-radius: 32px;
    text-align: center;
    padding: 8px 12px 8px 12px;
    background-color: #ffffff;
    color:#181818;
    font-size: 14px;
}

.recommend-topMenu_Item{
    color: #ffffff;
    width: 53px;
    height: 32px;
    border-radius: 32px;
    text-align: center;
    border: 0.3px solid #AAAAAA;
    padding: 8px 12px 8px 12px;
    background-color: #303030;
    font-size: 14px;
}

#video-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 426px;
}

.video-listblock{
    display: flex;
    height: 102px;
    width: 100%;
    padding-top: 8px;
    gap: 3px;
}

.side-Info{
    display: flex;
    flex-direction: column;

    width: 150px;
}

.side-title{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;

    white-space : nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.side-username, .side-videoDesc{
    color: #aaaaaa;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.Thumbnail{
    display: block;
}


.Thumbnail, .Thumbnail-Image {
    width: 168px;
    height: 94px;
}

.Video-Profile_image {
    display: none;
}

.Video-Item{
    display: flex;  

    gap: 10px;
}

.Video-Description{
    display: flex;
    flex-direction: column;
}

.Video-Info{
    width: 226px;
}

.video-preview{
    width: 168px;
    height: 94px;
}

.Video-Title{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;

    white-space : nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Video-Channel, .Time{
    color: #aaaaaa;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}